---
import Layout from "@layouts/Layout.astro";
---

<Layout title="next page">
	<main class="flex flex-col items-center mx-auto p-2 w-1/2">
		<form action="/api/auth/signout">
			<h1>
				<button
					type="submit"
					class="bg-blue-400 w-20 h-10 shadow-lg rounded-lg border-2 border-blue-800"
					>Sign out</button
				>
			</h1>
		</form>
	</main>
</Layout>
